body{background-color: #EAFDFC;}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #BFEAF5;
    border-width: 6px;
    width: 5%;
    
    
}
h1{
    color: #000001 ;
}

h3
{color: #66bfbf;
}